<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12648306916-frvl7n8p9pl7601fn6f1m2d4rbaf3nk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12648306916-frvl7n8p9pl7601fn6f1m2d4rbaf3nk6</string>
	<key>API_KEY</key>
	<string>AIzaSyCrhecww_qAa0vWLyNLxYD4_6HaHhkkXBo</string>
	<key>GCM_SENDER_ID</key>
	<string>12648306916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>advanced-motorsport-components</string>
	<key>STORAGE_BUCKET</key>
	<string>advanced-motorsport-components.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12648306916:ios:7d4426a28bd477d5cdf4f1</string>
</dict>
</plist>